body{
    background-color: #F5F5F5;
}
.navbar{
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
}
.card{
    margin-left: 10px;
}
.nav-link{
    color: #FF3D33 !important;
}
.cartao{
    margin-top: 10px;
    background-color: #FF3D33;
    color: white;
}
.navbar-brand{
    margin-left: 30px;
}

.login{ 
 position: relative;
   margin: 20px 0;
    }

  .login {
   position: absolute;
   left: 0;
   bottom: 5px;
   }
