<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <title>Cadastrar</title>
    <style>
        body{
          background-color: #ebeff5;
        }
    </style>  
</head>
<body>
    <h3>Cadastro</h3>
    {% for message in messages %}
        <p>{{message}}</p>
    {% endfor%}
    <form action="/signup/" method="POST">
    {% csrf_token %}
    <div class="input-group mb-2">
        <div class="input-group-append">
            <span class="input-group-text"><i class="fas fa-user"></i></span>
        </div>
        {{form.first_name}}
    </div>
    <div class="input-group mb-2">
        <div class="input-group-append">
            <span class="input-group-text"><i class="fas fa-envelope-square"></i></span>
        </div>
        {{form.last_name}}
    </div>
    <div class="input-group mb-2">
        <div class="input-group-append">
            <span class="input-group-text"><i class="fas fa-key"></i></span>
        </div>
        {{form.username}}
    </div>
    <div class="input-group mb-2">
        <div class="input-group-append">
            <span class="input-group-text"><i class="fas fa-key"></i></span>
        </div>
        {{form.email}}
    </div>
    <div class="input-group mb-2">
        <div class="input-group-append">
            <span class="input-group-text"><i class="fas fa-key"></i></span>
        </div>
        {{form.password1}}
    </div>
    <div class="input-group mb-2">
        <div class="input-group-append">
            <span class="input-group-text"><i class="fas fa-key"></i></span>
        </div>
        {{form.password2}}
    </div>
    <div class="input-group mb-2">
        <select name="grupos" id="grupos">
            <option value="admin">Administrador</option>
            <option value="funcionario">Funcionário</option>
        </select>
    </div>
    {{form.errors}}

       <div class="d-flex justify-content-center mt-2 login_container">
         <input class="btn login_btn" type="submit" value="Register Account">
       </div>
    </form>
    <script>
        var form_fields = document.getElementsByTagName('input')
		form_fields[1].placeholder='Nome';
		form_fields[2].placeholder='Sobrenome';
		form_fields[3].placeholder='Nome de usuário';
		form_fields[4].placeholder='Email.';
        form_fields[5].placeholder='Senha';
        form_fields[6].placeholder='Confirme sua senha';
        


		for (var field in form_fields){	
			form_fields[field].className += ' form-control'
		}
    </script>
</body>
</html>