<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <title>Fleury Treinamento Corporativo</title>
    
    <style>
        body{
          background-color: #ebeff5;
        }

        #password,
        #username{
            border: none;
            border-bottom: 1px solid #848484;
            background: #00000000;
        }

        #password:focus,
        #username:focus{
            border: none;
            outline:none;
            border-bottom: 1px solid #848484;
        }
        
    </style>  
</head>
<body>

    {% for message in messages %}
    <div class="alert alert-{{ message.tags}} alert-dismissible fade show" role="alert">
        <strong>AVISO:</strong> {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    
    <div> <center>
    
    <!-- <h3>Bem vindo ao treinamento Fleury</h3> -->
    <img src="../static/images/logogrupo.png" height="400" width="400" />
    <form action="/signin/" method="POST">
    {% csrf_token %}
        <div class="login">
        <img src="https://icon-library.com/images/person-icon-red/person-icon-red-14.jpg" height="30" width="30" />
        <input type="text" id="username" name="username" required placeholder="Nome de usuário">
        </div>
    
        <br>
        <br>
        <img src="https://cdn.icon-icons.com/icons2/1154/PNG/512/1486564389-lock-red_81516.png" height="30" width="30"/>
        <input type="password" id="password" name="password" required placeholder="Senha">
        <br>
        <br>
        <button class="btn btn-success" type="submit">Entrar</button> 
        <button class="btn btn-link text-info" type="button"><a class="text-info" href="/signup">Criar conta</a></button>
        
    </center>
    </form>
    </div>
</body>
</html>