{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <title>Home</title>
  <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
</head>

<body>

  <style>
    * {
      margin: 0px !important;
      padding: 0px !important;
    }

    .content {
      background-color: white;
    }

    a {
      text-decoration: none;
      color: #d70210;
    }

    .content-cards {
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center
    }
  </style>


  <nav class=" bg-light rounded-0 card d-flex align-items-center justify-content-center" style="height: 70px">

    <div class="row w-100 d-flex justify-content-center"
      style="padding-left: 20px!important; padding-right: 20px!important;">
      <div class="col-4 d-flex align-items-center  gap-3">
        <a href="/">Início</a>
        {% for group in user.groups.all %}
        {% if group.name == 'admin' %}
        <a href="/administrador">Criar treinamento</a>
        {% endif %}
        {% endfor %}
        <a href="">Treinamentos</a>
      </div>
      <div class="col-4 d-flex align-items-center justify-content-center">
        <a class="navbar-brand" href="../">
          <img src="{% static 'images/logo.png' %}" width="160" height="40">
        </a>
      </div>
      <div class="col-4 d-flex align-items-center justify-content-end">
        <a href="/signout">Sair</a>
      </div>
    </div>

  </nav>
  <div class="content p-2 bg-danger">
    
    <div class="content-cards">
      {% for training in trainings %}

      <div class="card" style="width: 18rem;">
        <img src="../static/images/IMG1.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{training.title}}</h5>
          <p class="card-text">{{training.description}}</p>
        </div>
        <!-- <ul class="list-group list-group-flush">
          <li class="list-group-item">An item</li>
          <li class="list-group-item">A second item</li>
          <li class="list-group-item">A third item</li>
        </ul> -->
        
        <div class="card-body">
          <a href={{training.video_link}} class="card-link">Acesse o treinamento clicando aqui!</a>
          <!-- <a href="#" class="card-link">Another link</a> -->
        </div>
      </div>


      {% endfor %}
    </div>
  </div>

  <!-- <div class="col-9 pl-0">
    </div> -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
</body>
</html>